.menu__item {
	position: relative;
}

.menu__item::after {
	content: '';
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;

	transition: width 300ms;
}

.menu__item:hover::after{
	width: 100%;
}

.menu__item--active {
	color: #00b37e;
	font-weight: normal;
}
